<h1 class="page-header">MyVocabulary</h1>

<table class="table table-striped" ng-controller="VocabularyController">

  <thead>
    <tr>
      <th>English</th>
      <th>German</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th><input ng-model="newWord.english" class="form-control" placeholder="..."/></th>
      <th><input ng-model="newWord.german" class="form-control" placeholder="..."/></th>
      <th>
        <th>
          <button ng-click="addWord(newWord)" class="btn btn-primary">Add</button>
          <button ng-click="editWord(newWord)" class="btn btn-success">Edit</button>
        </th>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr  ng-repeat="userWord in userWords" ng-class="{'success' : $index == selectedFormIndex}">
    <td>{{userWord.english}}</td>
    <td>{{userWord.german}}</td>
    <td>{{}}</td>
    <td class="nowrap">
      <button ng-click="deleteWord($index)" class="btn btn-danger">
        Delete
      </button>
      <button ng-click="selectWord($index)" class="btn btn-info">
        Select
      </button>
    </td>
  </tr>
</tbody>

</table>
