<ul class="nav nav-sidebar">

  <li><a href="#/home" ng-class="{'active bg-info' : $location.url() == '/home'}">Home</a></li>

  <li><a href="#/profile" ng-class="{'active bg-info' : $location.url() == '/profile'}"
    ng-show="currentUser">Profile</a></li>

    <li><a href="#/forms" ng-class="{'active bg-info' : $location.url() == '/forms'}"
      ng-show="currentUser">Forms</a></li>

      <li ng-show="currentUser.roles.indexOf('admin') >= 0"
        ng-class="{'active': $location.url() === '/admin'}">
        <a href="#/admin">   Admin  </a></li>

      </ul>
