<h1 class="page-header">Forms: {{model.formTitle}}</h1>
<ul class="nav nav-pills">
  <li role="presentation"><a href="#/forms">Forms</a></li>
  <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
</ul>
</br>

<!-- Fields -->

<table class="table table-responsive">
  <tbody ng-model="model.fields">
    <tr ng-switch="field.type" ng-repeat="field in model.fields">
      <td ng-switch-when="TEXT">
        <label>{{field.label}}</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{field.placeholder}}">
          <div ng-include=" 'views/forms/buttons.html' "></div>
        </div>
      </td>

      <td ng-switch-when="TEXTAREA">
        <label>{{field.label}}</label>
        <div class="input-group">
          <textarea class="form-control" placeholder="{{field.placeholder}}"></textarea>
          <div ng-include=" 'views/forms/buttons.html' "></div>
        </div>
      </td>

      <td ng-switch-when="OPTIONS">
        <label>{{field.label}}</label>
        <div class="input-group">
          <select class="form-control">
            <option ng-repeat="option in field.options track by $index">{{option.label}}</option>
          </select>
          <div ng-include="'views/forms/buttons.html'"></div>
        </div>
      </td>

      <td ng-switch-when="CHECKBOXES">
        <label>{{field.label}}</label>
        <div class="input-group">
          <div class="checkbox">
            <div ng-repeat="option in field.options track by $index">
              <label>
                <input type="checkbox" value="{{option.value}}">{{option.label}}
              </label>
              <br>
            </div>
          </div>
          <div ng-include="'views/forms/buttons.html'"></div>
        </div>
      </td>

      <td ng-switch-when="RADIOS">
        <label>{{field.label}}</label>
        <div class="input-group">
          <div ng-repeat="option in field.options track by $index" class="radio">
            <label>
              <input type="radio" name="{{option.label}}" value="{{option.value}}" checked>
              {{option.label}}
            </label>
          </div>
          <div ng-include="'views/forms/buttons.html'"></div>
        </td>

        <td ng-switch-default>
          <label>{{field.label}}</label>
          <div class="input-group">
            <input type="date" placeholder="{{field.placeholder}}" class="form-control">
            <div ng-include="'views/forms/buttons.html'"></div>
          </td>
          <br>
        </tr>
      </tbody>
    </table>

    <hr>

    <!-- Add New Field -->

    <label>Add New Field:</label>
    <div class="input-group">
      <select ng-model="fieldType" class="form-control">
        <option>Single Line Text Field</option>
        <option>Date Field</option>
        <option>Dropdown Field</option>
        <option>Checkboxes Field</option>
        <option>Radio Buttons Field</option>
        <option>Multi Line Text Field</option>
      </select>
      <div>
        <button ng-click="model.addField(fieldType)" type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <!-- Modal -->

    <div id="editField" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{model.editedField.label}}</h4>
          </div>
          <div class="modal-body" ng-switch on="model.editedField.type">
            <div ng-switch-when="TEXT">
              <h3>Single Line Field</h3>
              <form>
                <label>Label</label>
                <input ng-model="model.editedField.label" class="form-control" type="text"
                placeholder="Edit Label">
                <br>
                <label>Placeholder</label>
                <input ng-model="model.editedField.placeholder" class="form-control" type="text"
                placeholder="Edit Placeholder">
              </form>
            </div>
            <div ng-switch-when="TEXTAREA">
              <h3>Multi Line Field</h3>
              <form>
                <label>Label</label>
                <input ng-model="model.editedField.label" class="form-control" type="text"
                placeholder="Edit Label">
                <br>
                <label>Placeholder</label>
                <textarea ng-model="model.editedField.placeholder" class="form-control"
                placeholder="Edit Placeholder"></textarea>
              </form>
            </div>
            <div ng-switch-when="OPTIONS">
              <h3>Dropdown Field</h3>
              <form>
                <label>Label</label>
                <input ng-model="model.editedField.label" class="form-control" type="text"
                placeholder="Edit Dropdown Label">
                <br>
                <label>Options</label>
                <textarea ng-model="model.optionText" class="form-control"
                placeholder="Edit Dropdown Options"></textarea>
              </form>
            </div>
            <div ng-switch-when="DATE">
              <h3>Date Field</h3>
              <form>
                <label>Label</label>
                <input ng-model="model.editedField.label" class="form-control" type="text">
                <br>
              </form>
            </div>
            <div ng-switch-when="RADIOS">
              <h3>Radio Buttons Field</h3>
              <form>
                <label>Label</label>
                <input ng-model="model.editedField.label" class="form-control" type="text"
                placeholder="Edit Radio Label">
                <br>
                <label>Options</label>
                <textarea ng-model="model.optionText" class="form-control" placeholder="Edit Radio Options"></textarea>
              </form>
            </div>
            <div ng-switch-default>
              <h3>Checkbox Field</h3>
              <form>
                <label>Label</label>
                <input ng-model="model.editedField.label" class="form-control" type="text"
                placeholder="Edit Checkbox label">
                <br>
                <label>Options</label>
                <textarea ng-model="model.optionText" class="form-control"
                placeholder="Edit Checkbox options"></textarea>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button ng-click="model.modalEdit(model.editedField)" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
