<ul class="nav nav-sidebar">

  <li><a href="#/home" ng-class="{'active bg-info' : $location.url() == '/home'}">Tools</a></li>

  <li><a href="#/vocabulary" ng-class="{'active bg-info' : $location.url() == '/vocabulary'}"
    ng-show="currentUser">My Vocabulary</a></li>

  <li><a href="#/profile" ng-class="{'active bg-info' : $location.url() == '/profile'}"
    ng-show="currentUser">Profile</a></li>

      <li ng-show="currentUser.roles.indexOf('admin') >= 0"
        ng-class="{'active bg-info': $location.url() === '/admin'}">
        <a href="#/admin">   Admin  </a></li>

      </ul>
